/*Estilo index y backgrounds*/
body{
background:url("../images/Background.jpg");
background-position:fixed;
background-repeat:no-repeat;
background-size:cover;
}
#link {
    border: 1px solid gray;
    padding: 8px;
}
h1 {
    text-align: left;
    text-transform: uppercase;
    color: #0B5345 ;
}

p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: #008CBA;
}
.marquee{

-webkit-animation: rightThenLeft 10s linear;
 text-align: left;
}
/* estilo al boton inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/*Estilo del container de los botones del modal*/
.containerModalButtons{
    background-color:#f1f1f1
                    }

/* estilos a todos los modelos */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}

/* estilos al botno cancelar*/
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Centra la imagen */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 60%;
}
img.user {
    width: 13.5%;
  float: right;
  margin-top: -15%;


}
.usr{

}
.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/*  Modal (fondo) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

/* Modal  */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

/* Boton de cancelar (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Hace el zoom  */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/*Cambia la dimensiones para hacer responsive  */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
.tablaDash {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  margin: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.containerSettings{
width: 50%;
margin: auto;
}
.containerRides{
width: 50%;
margin: auto;
}

#peque{
  width: 10%;
  margin: left;
}
.checkboxes{
  margin: auto;
}
